{% capture now %}{% endcapture %}
  {% include.html | strip_newlines | replace: '<blockquote>  <p><strong>Tip:</strong>', '<blockquote class="tip"><p><strong>Tip:</strong>' %}
{% capture now %}
  {% now | strip_newlines | replace: '<blockquote>  <p><strong>Example:</strong>', '<blockquote class="example"><p><strong>Example:</strong>' %}
{% endcapture %}
{% capture now %}
  {% now | strip_newlines | replace: '<blockquote>  <p><strong>Warning:</strong>', '<blockquote class="warning"><p><strong>Warning:</strong>' %}
{% endcapture %}
{% capture now %}
  {% now | strip_newlines | replace: '<blockquote>  <p><strong>Fact:</strong>', '<blockquote class="fact"><p><strong>Fact:</strong>' %}
{% endcapture %}
{{ now }}

