{% capture newline %}
{% endcapture %}
{% assign now = include.html | strip_newlines | replace: '<blockquote>  <p><strong>Tip:</strong>', '<blockquote class="tip"><p><strong>Tip:</strong>' %}
{% assign now = include.html | strip_newlines | replace: '<blockquote>  <p><strong>Tip:</strong>', '<blockquote class="example"><p><strong>Example:</strong>' %}
{% assign now = include.html | strip_newlines | replace: '<blockquote>  <p><strong>Tip:</strong>', '<blockquote class="warning"><p><strong>Warning:</strong>' %}
{% assign now = include.html | strip_newlines | replace: '<blockquote>  <p><strong>Tip:</strong>', '<blockquote class="fact"><p><strong>Fact:</strong>' %}
  {{ now }}

