:root {
  --background: #f8f8f8;
  --text: #333;
  --link: #339966;
  --line: #111;
  --headerbackground: transparent;
  --headertext: #369;
  --h1colour: #08790d;
  --h2colour: #2196f3;
  --h3colour: #369;
  --h4colour: #333;
  --stronglist: #4caf50;
  --pagetoclink: #666;
  --footercolour: #666;
  --footerlink: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --text: #ccc;
    --link: skyblue;
    --line: #ccc;
    --headerbackground: transparent;
    --headertext: #ffc107;
    --h1colour: #4caf50;
    --h2colour: #2196f3;
    --h3colour: #cddc3c;
    --h4colour: #ccc;
    --stronglist: #4caf50;
    --pagetoclink: #ccc;
    --footercolour: #999;
    --footerlink: #ccc;
  }
}

body {
  background:var(--background);
  color: var(--text);
  font-family: "Open Sans", "segoe ui", helvetica, arial, sans-serif;
  font-size: calc(.7em + 1vw);
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 1em 0;
}
a {
  color: var(--link);
}
header {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
header ul {
  flex: 2;
  line-height: 2.8;
  text-align: right;
}
header a {
  flex: 3;
  font-size: 1.3em;
  padding: .5em 0;
  font-weight: normal;
  color: var(--headertext);
  text-decoration: none;
  background: var(--headerbackground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -1px;  
}
header li {
  display: inline;
}
header li::after {
  content: '|';
  padding: 0 8px;
}
header li:last-child::after {
  content: '';
  padding: 0;
}
header li a {
  color: var(--link);
  display: inline;
  padding: 0;
  font-size: .8em;
}
.content ul {
  list-style: square;
  margin: 0;
  padding: 1em;
}
.content li {
  padding: 0 0 .5em 0;
  line-height: 1.3;
}
li strong, blockquote strong {
  color: var(--stronglist);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1em 0;
}
nav ul ul {
  border-top: 1px solid var(--line);
  padding: 1em 0 0 0;
}
ul ul li {
  padding-bottom: .2em;
}
ul ul ul {
  border-top: none;
  padding: .5em 0 0 1em;
}
ul a {
  font-weight: bold;
  text-decoration: none;
}
ul ul a {
  font-weight: normal;
}
nav ul {
  font-size: .9em;
  margin: 0;
  padding: 0;
}
nav ul a {
  color: var(--pagetoclink);
}

h1 {
  font-size: 1.3em;
  font-weight: normal;
  color: var(--h1colour);
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--h2colour);
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
  color: var(--h3colour);
}
h4 {
  font-size: 1em;
  font-weight: bold;
  color: var(--h4colour);
}
#split {
  margin: 0 20px;
  display: flex;
  gap: 0 2em;
  flex-wrap: wrap;
}
article {
  flex: 4;
  max-width: 36em;
  min-width: 20em;
}
section {
  min-width: 12em;
  flex: 1;
}
p, li {
  margin: 0;
  padding: 0 0 .5em 0;
  line-height: 1.5;
}
nav {
  margin: 1em 0 0 0;
}
nav a {
  font-weight: normal;
}
blockquote {
    font-size: .85em;
    margin: 1em 0;
    border: solid 1px var(--line);
    border-width: 1px 0 1px 0;
    padding: 5px;
}
.next {
  text-align: right;
}

footer {
  font-size: .8em;
  border-top: 1px solid var(--line);
  padding: 1em 2em;
  margin-top: 5em;
  color: var(--footercolour);
}
footer a {
  color: var(--footerlink);
}
footer div {
  margin: 1em 0;
  position: relative;
  padding-left: 120px;
}
footer img {
  position: absolute;
  top: 5px;
  width: auto;
  left: 5px;
}
address {
  display: inline;
}
blockquote.tip strong {
  display: block;
  margin: .5em 0;
}
blockquote.tip strong::before {
  content: '💡';
}