:root {
  --background: #f8f8f8;
  --text: #333;
  --link: #339966;
  --line: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --text: #ccc;
    --link: skyblue;
    --line: #ccc;
  }
}

body {
  background:var(--background);
  color: var(--text);
  font-family: helvetica,arial,sans-serif;
  font-size: calc(.6em + 1vw);
}
a {
  color: var(--link);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1em 0;
}
ul ul {
  border-top: 1px solid var(--line);
  padding: 1em 0 1em 0;
}
ul a {
  font-weight: bold;
  text-decoration: none;
}
ul ul a {
  text-decoration: none;
}

h1 {
  font-size: 1.3em;
  font-weight: normal;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
}
h4 {
  font-size: 1em;
  font-weight: bold;
}
#split {
  margin: 1em 2em;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
article {
  flex: 4;
  max-width: 36em;
  min-width: 20em;
}
section {
  min-width: 10em;
  flex: 1;
}
p {
  margin: 0;
  padding: 0 0 .5em 0;
  line-height: 1.3;
}
footer {
  font-size: .8em;
  border-top: 1px solid var(--line);
  padding: 1em 2em;
}
nav {
  margin: 1em;
}