<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@codepo8">
  <meta name="twitter:creator" content="@codepo8">
  <meta name="twitter:title" content="{{ page.title }}">
  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
  {% endif %}
  {% if page.heroimage %}
  <meta name="twitter:image" content="{{ page.heroimage }}">
  {% endif %}
  <meta property="og:url" content="https://developer-advocacy.com{{ page.url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title"content="{{ page.title }}" />
  {% if page.summary %}
  <meta property="og:description" content="{{ page.summary }}" />
  {% endif %}
  {% if page.heroimage %}
  <meta property="og:image"content="{{ page.heroimage }}" />
  {% endif %}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📜</text></svg>">
  <link rel="stylesheet" href="/assets/light-theme.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
  <link rel="stylesheet" href="/assets/dark-theme.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <header>
    {% include header.html %}
    {% include nav.html %}
  </header>
  <div id="split">
    <article class="content">

      {% include blockquotes.html html=content %}

    </article>
    <section>
      <nav>
        <ul id="short_toc">
          <li><a href="https://developer-advocacy.com/about">About this handbook</a></li>
          <li><a href="https://developer-advocacy.com/what-is-developer-advocacy">What is Developer Advocacy / Evangelism?</a></li>
          <li><a href="https://developer-advocacy.com/working-with-your-company">Work with your own company</a></li>
          <li><a href="https://developer-advocacy.com/working-with-your-competition">Working with your competition</a></li>
          <li><a href="https://developer-advocacy.com/prepare-for-outreach">Prepare for outreach</a></li>
          <li><a href="https://developer-advocacy.com/get-speaking-opportunities">Get speaking opportunities</a></li>
          <li><a href="https://developer-advocacy.com/travel-and-conference-participation">Travel and conference participation</a></li>
          <li><a href="https://developer-advocacy.com/deliver-a-talk">Deliver a talk or workshop</a></li>
          <li><a href="https://developer-advocacy.com/talk-delivery-tips">Delivering presentations tips: timekeeping and more</a></li>
          <li><a href="https://developer-advocacy.com/things-not-to-say-on-stage">Things not to say on stage—and what to do instead</a></li>
          <li><a href="https://developer-advocacy.com/write-great-posts-and-articles">Write great posts and articles</a></li>
          <li><a href="https://developer-advocacy.com/write-excellent-code-examples">Write excellent code examples</a></li>
          <li><a href="https://developer-advocacy.com/prepare-slide-decks">Prepare great slide decks for presentations</a></li>
          <li><a href="https://developer-advocacy.com/create-slide-decks">Create great slide decks for presentations</a></li>
          <li><a href="https://developer-advocacy.com/slide-checklist">A checklist for more inclusive, accessible and understandable talks</a></li>
          <li><a href="https://developer-advocacy.com/record">Keep a record of your work</a></li>
          <li><a href="https://developer-advocacy.com/use-the-web">Know and use the social web</a></li>
          <li><a href="https://developer-advocacy.com/working-from-your-own-computer">Working from your own computer</a></li>
          <li><a href="https://developer-advocacy.com/recording-talks">Recording your own talks</a></li>
          <li><a href="https://developer-advocacy.com/videos">Creating educational videos</a></li>
          <li><a href="https://developer-advocacy.com/final-words">Final words</a></li>
        </ul>
      </nav>
      <p class="buycoffee">
        If you find this helpful, you can
        <a href="https://ko-fi.com/chrisheilmann">buy me a coffee</a>.
      </p>
    </section>
  </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>