<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📕</text></svg>">
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <header>
    {% include header.html %}
    {% include nav.html %}
  </header>
  <div id="split">
    <section>
      <nav>
        {% include toc.html html=content %}
      </nav>
    </section>
    <article class="content">

      {% include blockquotes.html html=content %}

      {% if page.next %}
      <p class="next">Next: <a href="{{ page.next }}">{{ page.nexttitle }}</a></p>
      {% endif %}

    </article>
  </div>
  <footer>
    {% include footer.html %}
  </footer>
  <script src="/assets/scripts.js"></script>
</body>
</html>